.message {
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.select2-container--default .select2-selection--multiple {
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.select2-dropdown {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
}

.select2-results__option {
    color: #333;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #e9e9e9;
}

.diagram-image {
    width: 100%;
    margin: 10px;
    float: left;
}

.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}