* {font-family: verdana}
body {background-color: #0a1922; color: white;}
nav {display: flex; margin: 10px;}
section {margin: 40px 20%;}
h1 {margin: 30px; font-size: 14pt}
h2 {margin: 30px;}
a {font-size: 14pt; color: #aaa; text-decoration: none;}
ol {margin: 10px 0px; width: 90%; list-style: none;}
li {height: 30px;}
button {color: #333}
span.select2-container {color: #333}

@media only screen and (max-width: 600px) {
	nav {display: flex; margin: 10px;}
	h1 {margin: 0px; font-size: 14pt}
	section {margin: 10px 4%;}
	a {font-size: 12pt; color: #aaa}
	ol {margin: 10px 0px; width: 100%; list-style: none;}
	li {margin: 15px 0px;}
}